<h1>Form</h1>
<form method="POST" action="/new">
  <input type="text" name="author" placeholder="author" />
  <input type="text" name="message" placeholder="message" />
  <button type="submit" value="Submit">Submit</button>
</form>
