<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <a href="/new">new message</a>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <h3><%= message.username %></h3>
        <p><%= message.text %></p>
        <i><%= message.edit_timestamp %></i>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
