<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <a href="/new">new message</a>
    <ul>
      <% messages.forEach((message) => { %>
      <li><%= message.text %> <%= message.user %> <%= message.added %></li>
      <% }) %>
    </ul>
  </body>
</html>
